:root {
    --color-green: #33c48d;
    --color-white: #ffffff;
    --color-dark-gray: #33333d ;
    --color-medium-gray: #424250;
    --color-light-gray: #d2d6dc;
}

body {
    margin: 0;
    background: var(--color-medium-gray);
    color: var(--color-white);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* header */

.header {
    text-align: center;
}


/* control */
.controls {
    background: yellow;
}

/* counter */

.counter {
    background: var(--color-dark-gray);
}