:root {
    --color-green: #33c48d;
    --color-white: #ffffff;
    --color-dark-gray: #33333d ;
    --color-medium-gray: #424250;
    --color-light-gray: #959ca7;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: var(--color-medium-gray);
    color: var(--color-white);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* header */

.header {
    text-align: center;
}

.header__title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-light-gray);
}

/* control */
.controls {
    background: yellow;
}

/* counter */

.counter {
    background: var(--color-dark-gray);
}

.counter__value {
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-white);
    background:none;
    border: 0;
    border-bottom: 1px solid var(--color-light-gray);
}

.counter__actions {
    display:flex;
}

.counter__button {
    background: none;
    width: 50%;
    border-width: 0;
    color: var(--color-light-gray);
    font-size: 3rem;
    height: 10rem;
    border-bottom: 1px solid var(--color-light-gray);
    transition: transform 0.1s;
    transform: translateY(0);

}

.counter__button:active {
    background: var(--color-medium-gray);
    transform: translateY(2%)
}
.counter__button:disabled {
    opacity: 0.2;
}

.counter__buttons_first {
    border-right: 1px solid var(--color-light-gray);
}

/* footer */

.footer {
    background: var(--color-dark-gray);
    color: var(--color-light-gray);
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
}

.footer__link {
    color: var(--color-white);
}